{{ define "description" }}
	{{ .Summary }}
{{ end }}

{{ define "main" }}
<h1 class="text-2xl font-bold mt-16 mb-8">
	{{ .Title }}
</h1>
<article class="prose prose-lg prose-neutral prose-a:underline-offset-2 prose-a:decoration-neutral-400 prose-a:whitespace-nowrap prose-h2:text-xl prose-h3:text-lg prose-hr:h-fit prose-hr:border-none prose-hr:opacity-50 prose-hr:text-center prose-blockquote:not-italic prose-blockquote:font-normal prose-blockquote:text-base prose-blockquote:ml-6 prose-blockquote:border-none">
	{{ .Content }}
</article>
{{ end }}
