# Redirect www to non-www.
server {
	server_name         www.johnjago.com;

	listen              *:80;
	listen              [::]:80;
	listen              443 ssl http2;
	listen              [::]:443 ssl http2;
	ssl_certificate     /etc/letsencrypt/live/johnjago.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/johnjago.com/privkey.pem;
	include             /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam         /etc/letsencrypt/ssl-dhparams.pem;

	return 301 https://johnjago.com$request_uri;
}

# Redirect http to https.
server {
	server_name          johnjago.com;

	listen               *:80;
	listen               [::]:80;

	return 301 https://johnjago.com$request_uri;
}

server {
	server_name         johnjago.com;

	listen              443 ssl http2;
	listen              [::]:443 ssl http2;
	ssl_certificate     /etc/letsencrypt/live/johnjago.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/johnjago.com/privkey.pem;

	root                /home/john/johnjago.com;
	index               index.html;
	error_page          404 /404.html;
	rewrite             ^/blog/(?!$|index\.html)(.*)$ /$1 permanent;
	rewrite             ^/work-journal/(?!$|index\.html)(.*)$ /2024-bootstrapping-journal/$1 permanent;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~* \.(png|.jpg|.jpeg|css|js|woff)$ {
		expires 1y;
	}
}
