{{ define "description" }}{{ .Description }}{{ end }}

{{ define "main" }}
<h1 class="text-2xl font-bold mt-16 mb-8">
	{{ .Title }}
</h1>
<p class="prose prose-lg prose-neutral prose-a:underline-offset-2 prose-a:decoration-neutral-400 prose-a:whitespace-nowrap">{{ .Description | markdownify }}</p>
<hr class="mt-[3.1111111em] mb-[3.1111111em] hr h-fit border-none opacity-50 text-center">
<ul>
	{{ range (where .Site.Pages "Params.category" "==" "work-journal") }}
	<li class="mb-5">
		<a
			href="{{ .RelPermalink }}"
			class="underline underline-offset-2 decoration-neutral-400"
		>{{ .Title }}</a>
		<time
			datetime='{{ .Date.Format "2006-01-02" }}'
			class="text-base text-neutral-500 mt-1 block"
		>{{ .Date.Format "2 January 2006" }}</time>
	</li>
	{{ end }}
</ul>
{{ end }}
