{{ define "description" }}
	{{ .Summary }}
{{ end }}

{{ define "main" }}
<div class="mt-36 mb-8">
	<time
		datetime='{{ .Date.Format "2006-01-02" }}'
		class="text-base text-neutral-500"
	>
		{{ .Date.Format "2 January 2006" }}
	</time>
	<h1 class="text-2xl font-bold mt-2">
		{{ .Title }}
	</h1>
</div>
<article class="prose prose-lg prose-neutral prose-a:underline-offset-2 prose-h2:text-xl prose-h3:text-lg prose-hr:h-fit prose-hr:border-none prose-hr:opacity-50 prose-hr:text-center prose-blockquote:not-italic prose-blockquote:font-normal prose-blockquote:text-base prose-blockquote:ml-6 prose-blockquote:border-none">
	{{ .Content }}
</article>
{{ if eq .Params.category "work-journal" }}
<hr class="mt-[3.1111111em] mb-[3.1111111em] hr h-fit border-none opacity-50 text-center">
<p class="prose">
	👋 You’re reading my <a href="/work-journal/">work journal</a>, a series where I write daily about trying to make a living building a bootstrapped software product!
</p>
{{ end }}
{{ end }}
