<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="description" content='{{ block "description" . }}{{ $.Site.Params.Description }}{{ end }}'>
	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<title>
		{{ if .IsHome }}
			{{ $.Site.Title }}
		{{ else }}
			{{ .Title }} • {{ $.Site.Title }}
		{{ end }}
	</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="shortcut icon" href='{{ "favicon.png" | absURL }}'>
	{{ $style := resources.Get "style.out.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<script src="https://zhidao.johnjago.com/script.js" data-site="MZJJIBDM" defer></script>
</head>
<body class="bg-[#fffcf9] max-w-[38rem] mx-auto my-24 px-8 text-neutral-600 text-lg">
	<header class="mb-4 pb-4 border-b border-b-neutral-300 flex justify-between items-center">
		<!-- The span is needed because the h1 reduces the height by about 3px. Not sure why. -->
		{{ if .IsHome }}<h1>{{ else }}<span>{{ end }}
			<a href="/" class="font-handwriting whitespace-nowrap">John Jago</a>
		{{ if .IsHome }}</h1>{{ else}}</span>{{ end }}
		</a>
		<nav class="break-keep text-base">
			<a href="/about/" class="mr-4 hover:underline hover:underline-offset-2">About</a>
			<a href="/projects/" class="mr-4 hover:underline hover:underline-offset-2">Projects</a>
			<a href="/blogroll/" class="hover:underline hover:underline-offset-2">Blogroll</a>
		</nav>
	</header>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer class="text-base mt-16 pt-4 flex justify-between border-t border-t-neutral-300">
		<nav>
			<a
				href="{{ if .IsHome }}#top{{ else }}/{{end}}"
				class="hover:underline hover:underline-offset-2"
			>
				Home
			</a>
		</nav>
		<div>
			<a
				href="https://buttondown.email/john"
				class="hover:underline hover:underline-offset-2"
			>Subscribe</a>
			<a
				href="/index.xml"
				class="ml-4 hover:underline hover:underline-offset-2"
			>RSS</a>
		</div>
	</footer>
</body>
</html>
