<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="description" content='{{ block "description" . }}{{ $.Site.Params.Description }}{{ end }}'>
	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<title>
		{{ if .IsHome }}
			{{ $.Site.Title }}
		{{ else }}
			{{ .Title }} • {{ $.Site.Title }}
		{{ end }}
	</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="shortcut icon" href='{{ "favicon.png" | absURL }}'>
	{{ $style := resources.Get "style.out.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<script src="https://zhidao.johnjago.com/script.js" data-site="MZJJIBDM" defer></script>
</head>
<body class="max-w-[38rem] mx-auto px-8 mt-24 mb-16 bg-[#fffcf9] text-neutral-600 text-lg">
	<header>
	{{ if .IsHome }}
		<h1>
	{{ end }}
			<a href="/" class="font-handwriting whitespace-nowrap">John Jago</a>
	{{ if .IsHome }}
		</h1>
	{{ end }}
	</header>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer class='prose prose-sm prose-neutral mt-16 pt-4 border-t border-t-neutral-600 prose-a:underline-offset-2 max-w-none'>
		<p>Thanks for reading! If you like what I write, I have a <a href="https://buttondown.email/john">newsletter</a> you can subscribe to. This site also has an <a href="/index.xml">RSS feed</a>.{{ if not .IsHome }} Here’s a way to get to <a href="/">the home page</a>.{{ end }}
	</footer>
</body>
</html>
