<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="description" content='{{ block "description" . }}{{ $.Site.Params.Description }}{{ end }}'>
	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<title>
		{{ if .IsHome }}
			{{ $.Site.Title }}
		{{ else }}
			{{ .Title }} • {{ $.Site.Title }}
		{{ end }}
	</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="shortcut icon" href='{{ "favicon.png" | absURL }}'>
	{{ $style := resources.Get "style.out.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap&text=John%20Jago" rel="stylesheet">
	<script src="https://zhidao.johnjago.com/script.js" data-site="MZJJIBDM" defer></script>
</head>
<body class="max-w-[38rem] mx-auto px-8 mt-24 mb-16 bg-[#fffcf9] text-neutral-700 text-lg">
	<header>
	{{ if .IsHome }}
		<h1>
	{{ end }}
			<a href="/" class="font-handwriting whitespace-nowrap">John Jago</a>
	{{ if .IsHome }}
		</h1>
	{{ end }}
	</header>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer class='text-5xl text-center prose prose-neutral prose-a:text-neutral-700 prose-a:font-normal prose-a:no-underline mt-12 max-w-none'>
		<p><a href="{{ if .IsHome }}#{{ else }}/{{ end }}" class="px-4 transition-colors duration-300 ease-in-out hover:text-neutral-500">❧</a></p>
	</footer>
</body>
</html>
