{{ define "main" }}
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Hello!</h2>
	<p class="prose prose-lg prose-neutral">
		I’m John. This is a public journal where I share what I’m working on, reading, and thinking about.
	</p>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Pages</h2>
	<nav class="break-keep flex flex-wrap gap-2">
		<a href="/projects/" class="underline underline-offset-2 decoration-neutral-500">Projects</a> ⋅ <a href="/blogroll/" class="underline underline-offset-2 decoration-neutral-500">Blogroll</a> ⋅ <a href="/contact/" class="underline underline-offset-2 decoration-neutral-500">Contact</a>
	</nav>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Blog</h2>
	<ul>
		{{ range first 4 (where (where (where
			.Site.Pages "Type" "post")
			"Params.category" nil)
			"Params.unlisted" "!=" true)
		}}
		<li class="mb-3 last-of-type:mb-5">
			<a
				href="{{ .RelPermalink }}"
				class="underline underline-offset-2 decoration-neutral-500"
			>{{ .Title }}</a>
		</li>
		{{ end }}
	</ul>
	<a
		href="/blog/"
		class="text-sm font-semibold px-2 py-1 bg-[#fffcf9] border-2 border-neutral-600 shadow-[3px_3px_0_0_#525252] hover:shadow-none transition-shadow"
	>
		All posts →
	</a>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Technical notebook</h2>
	<ul>
		{{ range first 4 (where (where
			.Site.Pages "Params.category" "technical")
			"Params.unlisted" "!=" true)
		}}
		<li class="mb-3 last-of-type:mb-5">
			<a
				href="{{ .RelPermalink }}"
				class="underline underline-offset-2 decoration-neutral-500"
			>{{ .Title }}</a>
		</li>
		{{ end }}
	</ul>
	<a
		href="/technical-notebook/"
		class="text-sm font-semibold px-2 py-1 bg-[#fffcf9] border-2 border-neutral-600 shadow-[3px_3px_0_0_#525252] hover:shadow-none transition-shadow"
	>
		All notes →
	</a>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Elsewhere</h2>
	<nav class="break-keep flex flex-wrap gap-2">
		<a href="https://www.are.na/john-jago" class="underline underline-offset-2 decoration-neutral-500">Are.na</a> ⋅ <a href="https://github.com/johnjago" class="underline underline-offset-2 decoration-neutral-500">GitHub</a> ⋅ <a href="https://stack.app/u/john" class="underline underline-offset-2 decoration-neutral-500">Stack</a>
	</nav>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Subscribe</h2>
	<nav class="break-keep flex flex-wrap gap-2">
		<a href="https://buttondown.com/john" class="underline underline-offset-2 decoration-neutral-500">Newsletter</a> ⋅ <a href="/index.xml" class="underline underline-offset-2 decoration-neutral-500">RSS</a>
	</nav>
</section>
{{ end }}
