{{ define "main" }}
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Hello!</h2>
	<p class="prose prose-lg prose-neutral">
		I’m John. This website is where I share what I’m working on, reading, and thinking about. It’s my public journal.
	</p>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Pages</h2>
	<nav class="break-keep flex flex-wrap gap-2">
		<a href="/projects/" class="underline underline-offset-2 decoration-neutral-400">Projects</a> ⋅ <a href="/blogroll/" class="underline underline-offset-2 decoration-neutral-400">Blogroll</a> ⋅ <a href="/about/" class="underline underline-offset-2 decoration-neutral-400">About</a>
	</nav>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Blog</h2>
	<ul>
		{{ range first 4 (where (where (where .Site.Pages "Type" "post") "Params.category" "!=" "work-journal") "Params.category" "!=" "technical") }}
		<li class="mb-5">
			<a
				href="{{ .RelPermalink }}"
				class="underline underline-offset-2 decoration-neutral-400"
			>{{ .Title }}</a>
			<time
				datetime='{{ .Date.Format "2006-01-02" }}'
				class="text-base text-neutral-500 mt-1 block"
			>{{ .Date.Format "2 January 2006" }}</time>
		</li>
		{{ end }}
	</ul>
	<a
		href="/blog/"
		class="text-sm font-semibold decoration-neutral-400 px-2 py-1 bg-neutral-200 rounded hover:bg-neutral-600 hover:text-gray-50 transition-colors"
	>
		All posts →
	</a>
</section>
<section class="mt-16">
	<h2 class="font-bold text-xl mb-5">Technical notebook</h2>
	<ul>
		{{ range first 4 (where .Site.Pages "Params.category" "technical") }}
		<li class="mb-5">
			<a
				href="{{ .RelPermalink }}"
				class="underline underline-offset-2 decoration-neutral-400"
			>{{ .Title }}</a>
			<time
				datetime='{{ .Date.Format "2006-01-02" }}'
				class="text-base text-neutral-500 mt-1 block"
			>{{ .Date.Format "2 January 2006" }}</time>
		</li>
		{{ end }}
	</ul>
	<a
		href="/technical-posts/"
		class="text-sm font-semibold decoration-neutral-400 px-2 py-1 bg-neutral-200 rounded hover:bg-neutral-600 hover:text-gray-50 transition-colors"
	>
		All notes →
	</a>
</section>
{{ end }}
