{{ define "main" }}
<h1 class="font-bold text-5xl">John’s thoughts</h1>
<nav class="mt-4 mb-5 text-base break-keep">
	{{ range .Site.Menus.main }}
	<a href="{{ .URL }}" class="mr-3 lighter no-underline whitespace-nowrap">{{- .Name -}}</a>
	{{ end }}
</nav>
{{ range (where .Site.Pages "Type" "post").GroupByPublishDate "2006" }}
	<h2>{{ .Key }}</h2>
	<ul class="no-bullet post-list">
	{{ range (where .Pages "Type" "post") }}
		<li>
			<a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
			<time
				datetime='{{ .PublishDate.Format "2006-01-02" }}'
				title='{{ .PublishDate.Format "2006-01-02" }}'
				class="post-date lighter">{{ .PublishDate.Format "January" }}</time>
		</li>
	{{ end }}
	</ul>
{{ end }}
{{ end }}
