@tailwind base;
@tailwind components;
@tailwind utilities;

.hr::before,
article hr::before {
	content: "✽   ✽   ✽" !important;
	white-space: pre;
}

article img {
	max-width: calc(100% + 4rem)
}

article p:has(img) {
	display: flex;
	justify-content: center;
}
