@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background: #eee;
  border-top: 3px solid #333;
  color: #333;
  font: 1em 'Lato', sans-serif;
  margin: 0 auto;
  max-width: 600px;
}

.container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px #c3c3c3;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 10px;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  font-weight: bold;
}

h2, p {
  margin-bottom: 10px;
}

.info {
  border: 1px #eee;
  border-style: solid none;
  font-weight: normal;
  margin: 20px 0;
  padding: 20px;
}

.info p {
  margin: 0;
}

p {
  line-height: 1.5em;
}

.project {
  border-left: 2px solid #fff;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 10px;
}

.project:hover {
  border-left: 2px solid #a14444;
}

.project a {
  display: block;
}

.project a p,
.project h2 {
  color: #333;
}

.project a:link,
.project a:hover,
.project a:focus {
  border: none;
}

a:link,
a:visited {
  border-bottom: 1px solid #eee;
  color: #808080;
  text-decoration: none;
}

a:hover,
a:focus {
  border-bottom: 1px solid #a14444;
  color: #a14444;
}

footer {
  font-size: 0.8em;
  text-align: center;
}
