html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  border-top: 3px solid #333;
  color: #333;
  font: 1.5em Georgia, Cambria, "Times New Roman", Times, serif;
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  padding: 50px;
}

header {
  font-size: 2em;
  height: 50px;
  text-align: center;
}

.divider {
  background: #333;
  height: 2px;
  margin: 30px auto 0 auto;
  width: 40px;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 60px 0;
}

h3 {
  margin: 20px 0;
}

p {
  line-height: 1.5em;
  font-size: 0.8em;
  margin: 30px 0;
}

.projects p {
  margin-left: 20px;
}

a:link,
a:visited {
  border-bottom: 1px solid #eee;
  color: #808080;
  text-decoration: none;
}

a:hover,
a:focus {
  border-bottom: 1px solid #a14444;
  color: #a14444;
}

ul {
  font-size: 0.8em;
  line-height: 2em;
  list-style: none;
  margin-left: 20px;
}

footer {
  color: #999;
  float: left;
  margin: 50px 0 20px 0;
}

.col-50 {
  float: left;
  width: 50%;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .col-50 {
    width: 100%;
  }
}
